:root{
  --font: 2rem;
  --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color1: rgba(241, 177, 199, 0.98);
  --borderRed:  2px solid rgb(232, 6, 6)
}
*,*::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

.inputTodo {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  gap: 0.2rem;
  z-index: 999;
}

.inputTodo form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
  width: 300px;
}
.r-a-Buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
input[type="Submit"], .removeAllTodo {
  height: 40px;
  padding: 0.4rem;
  border: none;
  background-color: orange;
  color: blue;
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  width: 40%;
  text-align: center;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
/* input[type="Submit"]:active, .removeAllTodo {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
} */
input[type="Submit"]:hover {
  background-color: red;
  color: white;
}
.removeAllTodo {
  font-size: 0.8rem;
  background-color: red;
  color: white;
}
.removeAllTodo:hover {
  background-color: orange;
  color: blue;
}
.todoContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#todo {
  padding: 0.4rem;
  height: 40px;
  border: var(--borderRed);
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  background-color: var(--color1);
}
#details {
  padding: 0.4rem;
  border: var(--borderRed);
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  resize: none;
  height: 100px;
  background-color: var(--color1);
}
.Todos {
  max-width: 1200px;
  width: 70%;
  padding: 2rem;
}
.Todos article {
  width: 100%;
  font-family: var(--fontFamily);
  border: 3px solid var(--color1);
  padding: 0rem 1rem 1rem;
}
.otherEvents {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
  padding-top: 0.5rem;
  justify-content: space-between;
}
.details {
  position: relative;
  word-wrap: break-word;
  white-space: pre-line;
  height: 100px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.view {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom:0;
  right: 0;
  background-color: white;
  border: none;
  height: 50px;
  width: 50px;
}
.fa-eye{
  color:  blue;
  font-size: 1.5rem;
  text-decoration: none;
  animation-name: eye;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes eye {
  0% {font-size: 1.5rem}
  25% {font-size: 1.7rem}
  50% {font-size: 2rem}
  75% {font-size: 1.7rem}
  100% {font-size: 1.5rem}
}
.removeThis {
  border: none;
background-color: white;
}
.fa-eye:hover, .fa-circle-minus:hover {
  color: red;
  text-decoration: none;
}
.fa-eye:active, .fa-circle-minus:active {
  color: orange;
}
.fa-circle-minus {
  color:rgb(250, 37, 179);
  font-size: 2rem;
}
.moreDetailsContainer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}
.todoLists {
  padding: 0.5rem;
  font-size: 3rem;
  color: #0000ff;
  width: 300px;
  height: 55px;
  padding: 0;
}
.todoLists div {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-image: url("./assets/TodoLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.head {
  padding-top: 1rem;
}
.todoLists .Link {
  width: 100%;
  height: 100%;
}
.moreArticle {
  display: flex;
  flex-flow: column wrap;
  max-width: 1200px;
  width: 70%;
  justify-content: center;
  font-family: var(--fontFamily);
  font-size: var(--font);
}
.moreDetails {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  height: 500px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreDetails div {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-line;
}
.todoHead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}
.todoHead:first-child {
  font: 1.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-square-check {
  color: rgb(6, 161, 6);
  font-size: 4rem;
}
.fa-square-xmark {
  color: red;
  font-size: 4rem;
}
footer {
  display: flex;
  background-color: rgb(119, 119, 119);
  width: 100%;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
}
footer:first-child {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.footerLogo {
  background-image: url("./assets/TodoLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 30px;
}
.fa-brands {
 padding: 0.3rem;
}
.acontact {
  padding: 0.3rem;
}
.contact {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.contact p {
  margin: 0;
  padding: 0;
}
footer h3 {
  margin: 0.5rem 0;
}
footer a {
  color: white;
}
.contactlogo {
  padding: 0.5rem;
}
.rights {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.Nopage {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.NoPageLogo {
  width: 100%;
  height: 7vh;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.NoLogo {
  width: 300px;
  height: 100%;
  background-image: url("./assets/TodoLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.Nopage h1, .Nopage p {
  text-align: center;
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}